.users{  
        max-width: 1024px;
        border: 2px solid black;
        margin: 0 auto;
        border-radius: 3px;
        position: relative;
        z-index: 1;
        box-sizing: border-box; 
        font-family: 'Inconsolata', monospace;
        padding: 80px;
}
.users input{
    font: bold 19px 'Inconsolata', monospace;
    width: 100%;
    border: 2px solid black;
    padding: 5px 30px;
    border-radius: 30px 30px 15px 15px;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin-bottom: 70px;
}
.person{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font: bold 19px 'Inconsolata', monospace;
}
.personButton{
    font: bold 20px 'Inconsolata', monospace;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 5px 2px black;
    padding: 5px 7px;
}

.personButton:hover{
    cursor: pointer;
}
.personButton:active{
    box-shadow: 5px 2px rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.4);
}
.personButton,.users input:focus{
    outline: none;
}
.person > p, .person > button{
    flex-basis: 50%;
    margin-right: 25px;
}
img{
    width: 100px;
    border-radius: 50%;
    margin-right: 25px;
}